[project]
	description = nothing
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Girish Duvuru (girish)
[access "refs/for/refs/*"]
	read = group user/Girish Duvuru (girish)
	push = group user/Girish Duvuru (girish)
	label-Code-Review = -2..+2 group user/Girish Duvuru (girish)
	label-Verified = -1..+1 group user/Girish Duvuru (girish)
	rebase = group user/Girish Duvuru (girish)
	removeReviewer = group user/Girish Duvuru (girish)
	submit = group user/Girish Duvuru (girish)
[access "refs/heads/*"]
	read = group user/Girish Duvuru (girish)
	create = group user/Girish Duvuru (girish)
	push = +force group user/Girish Duvuru (girish)
	pushMerge = group user/Girish Duvuru (girish)
[access "refs/tags/*"]
	push = +force group user/Girish Duvuru (girish)
	pushTag = group user/Girish Duvuru (girish)
	pushSignedTag = group user/Girish Duvuru (girish)
